[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = git@github.com:PX4/px4_msgs.git
[submodule "src/PX4-Autopilot-Frame"]
	path = src/PX4-Autopilot-Frame
	url = git@github.com:ceugomez/PX4-Autopilot-Frame
[submodule "src/Micro-XRCE-DDS-Agent"]
	path= src/Micro-XRCE-DDS-Agent
	url= git@github.com:eProsima/Micro-XRCE-DDS-Agent.git

[submodule "src/px4_ros_com"]
	path = src/px4_ros_com
	url = git@github.com:PX4/px4_ros_com
